.container {
    background-color:black;
    width: 60%;
    max-width: 1000px;
    height: 50px;
    padding:10px;
    margin-right: 0;   
    margin-left: 0;
}

li {
    list-style: none;
    float: left;
    margin-right: 20px; 
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    border-bottom: rgb(141, 19, 19) solid 2px;
    padding-bottom: 6px;
    line-height: 2px;
}

.group {
    margin: 0;
    padding: 0;
}
